.section {
  display: flex;
  gap: 1rem;
}

.input {
  width: 100%;

  padding: 1.2rem;

  border-radius: 0.4rem;
  background: var(--grey-500);

  position: relative;
  margin-top: -2rem;

  transition: 0.2s;
}

.input::placeholder {
  color: var(--grey-300);
  font-size: var(--font-18);
}

.input:focus,
.input:hover {
  outline: none;
  border-color: var(--purple-500);
  box-shadow: 0 0 0 2px var(--purple-500);
}
